{% if page.promo %}
<div id="about" class="homepage wrap wrap-inner">
    <div class="container-columns promo-row">
        
        <div class="column-flex vert-center">
            <div class="promo-text">
                <h2>{{ page.promo.heading }}</h2>
                {{ page.promo.description }}
            </div>
        </div>
        <div class="column-flex promo">
            <figure><img src="{{ page.promo.image }}" alt="About image"></figure>
        </div>
        
    </div>
</div>
{% endif %}
