
// Home page
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.homepage .promo-row {
    padding: 50px 0;

    @media (--tablet) {
        padding: 100px 0;
    }
}

.homepage .promo figure {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;

    @media (--tablet) {
        height: 600px;
    }

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        margin-left: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

}

.vert-center {
    display: flex;
    align-items: center;
    
    @media (--tablet) {
        height: 600px;
    }
}

.promo-text {
    margin: 0 auto;
    max-width: 500px;

    @media (--tablet) {
        padding: 0 50px;
    }

    h2 {
        margin: 0;
        padding-bottom: 30px;
    }

    p {
        font-size: 16px;
        color: var(--grey-color);
        @include font-smooth;
    }

    p:last-child {
        margin-bottom: 30px;
    }

    .cta-link {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border: 1px solid var(--grey-color);
        padding: 10px 20px;
        margin-top: 30px;

        font-size: 14px;
        color: var(--black-color);
        text-transform: uppercase;
        text-decoration: none;  
    }

}

.testimonial {

    .glide {
        height: auto;
    }
    
    padding: 50px 0;

    @media (--tablet) {
        padding: 100px 0 50px 0;
    }

    h1 {
        text-align: center;
    }

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: center;

    flex-direction: column;

    width: 100%;

}

.box {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 20px 0;

    @media (--tablet) {
        padding: 50px 100px;
    }
    
    p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 0;

        color: var(--grey-color);

        @include font-smooth;

        @media (--tablet) {
            font-size: 18px;
            text-align: left;
        }
    }

    p.t-name {
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: Muli;
        font-size: 20px;
        font-weight: 400;

        margin-top: 4rem;
        margin-bottom: 0;

        color: var(--black-color);

    }

}
