---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

<!-- about -->
{% include promo-block.html %}

<!-- services -->
<div id="services" class="grey-bg">
	<div class="wrap feature">
		<h2>Scope of Services</h2>
		{% include services-block.html %}
	</div>
</div>

<!-- testimonial -->
<div class="wrap wrap-inner">
	<div class="testimonial">
		<h2>Testimonials</h2>
		{% include testimonial-block.html %}
	</div>
</div>

<!-- connect -->
<div class="connect cover" style="background-image: url({{ site.baseurl }}/images/banner-bottom.png);" alt="Banner image">
	<div class="title">
			<h1>Want to discuss a project?</h1>
			<a class="cta-link" href="mailto:{{ site.email }}" target="_blank">
					Let me give you a call
			</a>    
	</div>
</div>
